.register {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)), 
    url('https://images.wallpaperscraft.ru/image/single/bukvy_staryj_pechatnaia_mashinka_290439_1920x1080.jpg');
    background-size: cover;
}
.registerTitle {
    padding-top: 20px;
    font-size: 50px;
}
.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm > label {
    margin: 10px 0px;
}
.registerInput {
    padding: 10px;
    background-color: white;
    border: none;
}
.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}
.registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
}

@media screen and (max-height: 500px) {
    .register {
        height: 100%;
    }
  }