
.header {
    width: 100%;
    min-height: 50px;
    background-color: rebeccapurple;
    position: fixed;
    top: 0px;
    z-index: 998;
}
.menu {
    max-width: 800px;
    
    min-height: 50px;
  /*   position: fixed; */
   /*  top: 0; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__header {
    padding: 0px 20px;
}
.menu__header:hover {
    color: bisque;
}
.menu__list {
    margin: 0;
    display: flex;
    color: white;
    align-items: center;
}
.menu__item {
    display: block;
    padding: 0px 20px;
}
.menu__item:hover a {
    color: bisque;
}
.menu__item_logout {
    display: flex;
    padding: 0px;
    cursor: pointer;
}
.menu__item_logout:hover {
    color: bisque;
}
.menu__profileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media (max-width: 480px) {
    .menu__header {
        font-size: 20px;
        padding-right: 0px;
    }
}

@media (max-width: 375px) {
    .menu__header {
        font-size: 16px;
        padding-right: 0px;
    }
    .menu__list {
        font-size: 14px;
    }
}