.profile {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
}
.profile__wrapper {
    flex: 9;
    
}
.profile__settings {
    padding-left: 20px;
}
.settings__title {
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}
.settingsDeleteTitle {
    color: red;
    font-size: 12px;
    cursor: pointer;
}
.settingsForm {
    display: flex;
    flex-direction: column;
}
.settingsPP {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.settingsPP > img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}
.loading {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: gray;
}
.settingsPPIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
.settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
}
.settingsForm > input {
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid grey;
}
.settingsSubmit {
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}



.profile__posts {

}
.profile__posts-title {
    margin: 10px;
    text-align: center;
}