
h1 {
    text-transform: uppercase;
  }


  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  article {
    background-color: rgba(0,0,0,0.4);
    padding: 10px 20px;
    border-radius: 3px;
    margin: 10px;
  }

  article p {
    background-color: gray;
    min-height: 50px;
    display: flex;
  }
  .info {
    display: flex;
    gap: 20px;
  }

  h2 {
    color: purple;
    margin: 0px;
    padding: 0px;
  }

 